<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://i1.social.s-msft.com/Forums/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" />
<title>关于我们  /  公司简介_蓝色大气企业网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
function CheckLogin(){
	  var taget_obj = document.getElementById('_ajax_feedback');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("/member/ajax_feedback.php");
	  DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
	var taget_obj = document.getElementById(ftype+fid);
	var saveid = GetCookie('badgoodid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==fid && hasid) continue;
			else {
				if(saveids[i]==fid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==10 && hasid) break;
				if(j==9 && !hasid) break;
			}
		}
		if(hasid) { alert('您刚才已表决过了喔！'); return false;}
		else saveid += ','+fid;
		SetCookie('badgoodid',saveid,1);
	}
	else
	{
		SetCookie('badgoodid',fid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
function postDigg(ftype,aid)
{
	var taget_obj = document.getElementById('newdigg');
	var saveid = GetCookie('diggid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==aid && hasid) continue;
			else {
				if(saveids[i]==aid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==20 && hasid) break;
				if(j==19 && !hasid) break;
			}
		}
		if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
		else saveid += ','+aid;
		SetCookie('diggid',saveid,1);
	}
	else
	{
		SetCookie('diggid',aid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	var url = "/plus/digg_ajax.php?action="+ftype+"&id="+aid;
	myajax.SendGet2(url);
}
function getDigg(aid)
{
	var taget_obj = document.getElementById('newdigg');
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/digg_ajax.php?id="+aid);
	DedeXHTTP = null;
}
-->
</script>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="articleview">
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/static/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	<ul>
			<li><a href='/'><span>主页</span></a></li>

      	<li><a href='/case/list_5_1.html' ><span>案例展示</span></a></li>

      	<li><a href='/about/index.html'  rel='dropmenu2'><span>关于我们</span></a></li>

      	<li><a href='/news/index.html'  rel='dropmenu3'><span>新闻动态</span></a></li>

      	<li><a href='/job/index.html'  rel='dropmenu6'><span>人才招聘</span></a></li>

      	<li><a href='/connection/index.html' ><span>联系我们</span></a></li>

      	<li><a href='/product/index.html'  rel='dropmenu4'><span>产品中心</span></a></li>
      	
	</ul>
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">公司简介</div>
	</div>
	<div class="label_content">

<h1 ><a href='/about/'>公司简介</a></h1>

<h1 ><a href='/about/list_9_1.html'>企业文化</a></h1>

<h1 ><a href='/about/list_10_1.html'>荣誉资质</a></h1>

<h1 ><a href='/about/list_11_1.html'>招商加盟</a></h1>
 
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
		地 址：佛山市顺德区容桂扁窖社区兴华路10号北金碧豪庭17号<br />
        电 话：0757-28325183<br />
        Q  Q：836284074<br />
        邮 箱：836284074@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>
	
		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" saveTitle="area2">
			<div class="label clear" id="600" rel="600" titles="自定义内容">
	<div class="label_head">
	<div class="label_title"><span><a href='http://demo3.xgwu.net/'>主页</a> > <a href='/about/'>关于我们</a> > <a href='/about/'>公司简介</a> > </span>公司简介</div>
	</div>
	<br class="label_content" style="font-size: 22px">
		<br class="about_con clearfix" >
                <p style="text-indent: 2em; margin-bottom: 22px; margin-top: 10px;">
            <span style="font-family: 微软雅黑, 'Microsoft YaHei';"> &nbsp;&nbsp;&nbsp;&nbsp; 崋莱科环境设备有限公司是一家集制冷设备销售、安装服务为一体的专业化空调企业，公司倡导以人为本的经营理念，集中了一批高素质的销售、工程管理、
            工程技术及施工人员，形成了完善的销售、施工、售后服务等一体化施工保障体系。公司可提供技术咨询、方案设计、施工、维修售后等工程总承包服务。公司现为
                珠海格力空调北京地区一级代理商，广东美的空调特约经销商。</span></p></br>
                </br>
                <p style="text-indent: 2em; margin-bottom: 22px; margin-top: 10px;">
<span style="font-family: 微软雅黑, 'Microsoft YaHei';">
        &nbsp;&nbsp;&nbsp;&nbsp; 公司经营的产品应用范围广泛，如宾馆、公寓、酒店、餐厅、办公大楼、购物商场、影剧院、体育馆、厂房及医院等，产品包括离心式水冷冷水机组，螺杆式水冷冷水机组，
        螺杆式风冷冷热水机组，模块式（热回收）风冷冷热水机组，水源热泵机组，数码多联机式空调机组，直流变频多联式空调机组，户式中央空调，风管机，温恒湿机及其他中
                    央空调末端产品。 “ 真诚服务为您创造健康、舒适的生活环境 ” 是我们永远的追求！</span></p></br>
                </br>
<p style="text-indent: 2em; margin-bottom: 22px; margin-top: 10px;">
    <span style="font-family: 微软雅黑, 'Microsoft YaHei';">
      &nbsp;&nbsp;&nbsp;&nbsp; 崋莱科环境设备有限公司凭借自身在技术、管理和施工方面的优势，赢得了格力（珠海）、美的（广东）、大金（日本）、约克（美国）、盾安（浙江）等产家的巨大信任及支持，
      公司业绩稳步上升，成绩喜人！北京仁泰机电设备安装有限公司自成立以来，坚持将本行业最杰出的产品提供给我们的客户。面向未来，本公司将继续秉承“为顾客创造价值，
      为员工创造机会”的经营理念，依靠“诚实、守信、高效”的工作作风，以高水平服务于社会，以一流的工程提供给客户。同时，公司不断致力于自身的变革创新和持久发展，
      通过培育“敬业、责任、合作、学习、创新”的员工信念，进一步发挥企业的综合优势，塑造和培育企业的核心竞争力，为公司在新时期继续保持持续、稳健的发展奠定了坚定的基础。
		</span></p>
            </div>
	</div>
	<div class="label_foot"></div>
</div>

		</div>
		<div class="clear"></div>
	</div>	
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
<ul>

      	<li><a href='/case/list_5_1.html' ><span>案例展示</span></a></li>

      	<li><a href='/about/index.html'  rel='dropmenu2'><span>关于我们</span></a></li>

      	<li><a href='/news/index.html'  rel='dropmenu3'><span>新闻动态</span></a></li>

      	<li><a href='/job/index.html'  rel='dropmenu6'><span>人才招聘</span></a></li>

      	<li><a href='/connection/index.html' ><span>联系我们</span></a></li>

      	<li><a href='/product/index.html'  rel='dropmenu4'><span>产品中心</span></a></li>
      	
<div class="clear"></div>
</ul>
</div>

		</div>
        
	</div>
</body>
</html>
