<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://i1.social.s-msft.com/Forums/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" />
<title>关于我们  /  企业文化_蓝色大气企业网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
function CheckLogin(){
	  var taget_obj = document.getElementById('_ajax_feedback');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("/member/ajax_feedback.php");
	  DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
	var taget_obj = document.getElementById(ftype+fid);
	var saveid = GetCookie('badgoodid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==fid && hasid) continue;
			else {
				if(saveids[i]==fid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==10 && hasid) break;
				if(j==9 && !hasid) break;
			}
		}
		if(hasid) { alert('您刚才已表决过了喔！'); return false;}
		else saveid += ','+fid;
		SetCookie('badgoodid',saveid,1);
	}
	else
	{
		SetCookie('badgoodid',fid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
function postDigg(ftype,aid)
{
	var taget_obj = document.getElementById('newdigg');
	var saveid = GetCookie('diggid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==aid && hasid) continue;
			else {
				if(saveids[i]==aid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==20 && hasid) break;
				if(j==19 && !hasid) break;
			}
		}
		if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
		else saveid += ','+aid;
		SetCookie('diggid',saveid,1);
	}
	else
	{
		SetCookie('diggid',aid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	var url = "/plus/digg_ajax.php?action="+ftype+"&id="+aid;
	myajax.SendGet2(url);
}
function getDigg(aid)
{
	var taget_obj = document.getElementById('newdigg');
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/digg_ajax.php?id="+aid);
	DedeXHTTP = null;
}
-->
</script>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="articleview">
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/static/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	{% include "nav.html" %}
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">企业文化</div>
	</div>
	<div class="label_content">

<h1 ><a href='/about/'>公司简介</a></h1>

<h1 ><a href='/about/list_9_1.html'>企业文化</a></h1>

<h1 ><a href='/about/list_10_1.html'>荣誉资质</a></h1>

<h1 ><a href='/about/list_11_1.html'>招商加盟</a></h1>
 
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
		地 址：佛山市顺德区容桂扁窖社区兴华路10号北金碧豪庭17号<br />
        电 话：0757-28325183<br />
        Q  Q：836284074<br />
        邮 箱：836284074@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>
	
		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" saveTitle="area2">
			<div class="label clear" id="600" rel="600" titles="自定义内容">
	<div class="label_head">
	<div class="label_title"><span><a href='http://demo3.xgwu.net/'>主页</a> > <a href='/about/'>关于我们</a> > <a href='/about/list_9_1.html'>企业文化</a> > </span>企业文化</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
			&nbsp;&nbsp;&nbsp; 我们的宗旨是为您提供最精美最适合优化的网站模板,我们致力于主流cms模板的开发和分享，我们提供从网站高端咨询策划、界面设计、交互设计，到网站程序开发、网站视觉识别系统（Web VI）等一系列专业服务。<br />
&nbsp;<br />
&nbsp;&nbsp;&nbsp; 永远把网站的主动营销放在首位！<br />
我们的原则：做公司客户想看的内容而不是老板想展示的内容，做百度喜欢的网站而不是公司老板喜欢的网站，做对搜索引擎友好的网站而不是对老板友好的网站。&nbsp;
		</div>
	</div>
	<div class="label_foot"></div>
</div>

		</div>
		<div class="clear"></div>
	</div>	
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
{% include "foot.html" %}
</div>

		</div>
        
	</div>
</body>
</html>
