<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>案例标题名称一_蓝色大气企业网站</title>
<meta name="keywords" content="案例,标题,名称,一,案例,标题,名称,一," />
<meta name="description" content="案例标题名称一" />
<link href="/templets/default/style/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="/include/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
function CheckLogin(){
	  var taget_obj = document.getElementById('_ajax_feedback');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("/member/ajax_feedback.php");
	  DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
	var taget_obj = document.getElementById(ftype+fid);
	var saveid = GetCookie('badgoodid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==fid && hasid) continue;
			else {
				if(saveids[i]==fid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==10 && hasid) break;
				if(j==9 && !hasid) break;
			}
		}
		if(hasid) { alert('您刚才已表决过了喔！'); return false;}
		else saveid += ','+fid;
		SetCookie('badgoodid',saveid,1);
	}
	else
	{
		SetCookie('badgoodid',fid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
function postDigg(ftype,aid)
{
	var taget_obj = document.getElementById('newdigg');
	var saveid = GetCookie('diggid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==aid && hasid) continue;
			else {
				if(saveids[i]==aid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==20 && hasid) break;
				if(j==19 && !hasid) break;
			}
		}
		if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
		else saveid += ','+aid;
		SetCookie('diggid',saveid,1);
	}
	else
	{
		SetCookie('diggid',aid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	var url = "/plus/digg_ajax.php?action="+ftype+"&id="+aid;
	myajax.SendGet2(url);
}
function getDigg(aid)
{
	var taget_obj = document.getElementById('newdigg');
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/digg_ajax.php?id="+aid);
	DedeXHTTP = null;
}
-->
</script>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/templets/default/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
	<div class="search"><img src="/templets/default/images/dh.png" width="301" height="96" /></div>
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	<ul>
		<li><a href='/'><span>主页</span></a></li>
      	<li class='hover'><a href='/anli/list_5_1.html' ><span>案例展示</span></a></li>
      	<li><a href='/about/'  rel='dropmenu2'><span>关于我们</span></a></li>
      	
      	<li><a href='/news/'  rel='dropmenu3'><span>新闻动态</span></a></li>
      	
      	<li><a href='/job/'  rel='dropmenu6'><span>人才招聘</span></a></li>
      	
      	<li><a href='/lianxi/' ><span>联系我们</span></a></li>
      	
      	<li><a href='/chanpin/'  rel='dropmenu4'><span>产品中心</span></a></li>
      	
	</ul>
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">案例展示</div>
	</div>
	<div class="label_content">
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
			地 址：杭州市xxxxxx路xxx<br />
号 电 话：0000-00000000<br />
传 真：0000-00000000<br />
邮 箱：138905022@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>
	
		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" saveTitle="area2">
		<div class="label_head">
		<div class="label_title"><span><a href='http://demo3.xgwu.net/'>主页</a> > <a href='/anli/list_5_1.html'>案例展示</a> > </span>案例展示</div>
	</div>
			<div class="label labelDis news_detail" id="1" rel="1" titles="文章内容">
	<div class="news_detail_title">案例标题名称一</div>
	
	<div style="text-align:center; margin:20px auto;"><img src="/uploads/allimg/140304/1-1403040934430-L.jpg" border="0"/></div>
	<div id="mcontent" class="news_detail_cont">
		案例标题名称一
	</div>
	<div class="articleContent_other">
		<div class="next-article">上一篇：没有了 <br />

		下一篇：<a href='/anli/36.html'>案例标题名称二</a> </div>
	</div>
</div>

		</div>
		<div class="clear"></div>
	</div>	
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
<ul>
<li class='hover'><a href='/anli/list_5_1.html' ><span>案例展示</span></a></li>
      	<li><a href='/about/'  rel='dropmenu2'><span>关于我们</span></a></li>
      	
      	<li><a href='/news/'  rel='dropmenu3'><span>新闻动态</span></a></li>
      	
      	<li><a href='/job/'  rel='dropmenu6'><span>人才招聘</span></a></li>
      	
      	<li><a href='/lianxi/' ><span>联系我们</span></a></li>
      	
      	<li><a href='/chanpin/'  rel='dropmenu4'><span>产品中心</span></a></li>
      	
<div class="clear"></div>
</ul>
</div>
<div class="bottomInfo clear">
	<p align="center">
	<span style="color:#fff;"><a href="http://www.xgwu.net" target="_blank">享购屋</a></span> 
</p>
</div>

		</div>
        
	</div>
</body>
</html>
