<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://i1.social.s-msft.com/Forums/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" />
<title>人才招聘  /  用人理念_蓝色大气企业网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/static/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	{% include "nav.html" %}
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">用人理念</div>
	</div>
	<div class="label_content">

<h1 ><a href='/job/list_19_1.html'>用人理念</a></h1>

<h1 ><a href='/job/index.html'>人才招聘</a></h1>
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
		地 址：佛山市顺德区容桂扁窖社区兴华路10号北金碧豪庭17号<br />
        电 话：0757-28325183<br />
        Q  Q：836284074<br />
        邮 箱：836284074@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>
	
		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" saveTitle="area2">
			<div class="label clear" id="608" rel="608" titles="文章列表">
	<div class="label_head">
	<div class="label_title"><span><a href='/'>主页</a> > <a href='/job/index.html'>人才招聘</a> > <a href='/job/list_19_1.html'>用人理念</a> > </span>用人理念</div>
	</div>
	<div class="label_content">
		<div class="item_list id608">
			<ul class="clearfix" id="articlelist608">
				
				

			</ul>
		</div>
	</div>
	<div class="dai"><li><span class="pageinfo">共 <strong>0</strong>页<strong>0</strong>条记录</span></li>
</div>
	<div class="label_foot"></div>
</div>

		</div>
		<div class="clear"></div>
	</div>	
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
{% include "foot.html" %}
</div>
		</div>
        
	</div>
</body>
</html>
