<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://i1.social.s-msft.com/Forums/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" />
<title>恭祝崋莱科环境设备有限公司网站开通</title>
<meta name="keywords" content="互联网,金融,是,一味,药,但是,三分,毒,互联网," />
<meta name="description" content="互联网金融这一概念正在业界掀起舆论巨浪。对于这个新事物，目前市场上普遍存在三种腔调。 第一种是鄙夷。一些银行人士认为，所谓互联网金融不过是一种营销手段，只是在营销方" />
<link href="/static/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
function CheckLogin(){
	  var taget_obj = document.getElementById('_ajax_feedback');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("/member/ajax_feedback.php");
	  DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
	var taget_obj = document.getElementById(ftype+fid);
	var saveid = GetCookie('badgoodid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==fid && hasid) continue;
			else {
				if(saveids[i]==fid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==10 && hasid) break;
				if(j==9 && !hasid) break;
			}
		}
		if(hasid) { alert('您刚才已表决过了喔！'); return false;}
		else saveid += ','+fid;
		SetCookie('badgoodid',saveid,1);
	}
	else
	{
		SetCookie('badgoodid',fid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
function postDigg(ftype,aid)
{
	var taget_obj = document.getElementById('newdigg');
	var saveid = GetCookie('diggid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==aid && hasid) continue;
			else {
				if(saveids[i]==aid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==20 && hasid) break;
				if(j==19 && !hasid) break;
			}
		}
		if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
		else saveid += ','+aid;
		SetCookie('diggid',saveid,1);
	}
	else
	{
		SetCookie('diggid',aid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	var url = "/plus/digg_ajax.php?action="+ftype+"&id="+aid;
	myajax.SendGet2(url);
}
function getDigg(aid)
{
	var taget_obj = document.getElementById('newdigg');
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/digg_ajax.php?id="+aid);
	DedeXHTTP = null;
}
-->
</script>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/static/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	{% include "nav.html" %}
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">公司动态</div>
	</div>
	<div class="label_content">

<h1 ><a href='/news/list_12_1.html'>公司动态</a></h1>

<h1 ><a href='/news/list_13_1.html'>行业新闻</a></h1>
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
		地 址：杭州市xxxxxx路xxx<br />
号 电 话：0000-00000000<br />
传 真：0000-00000000<br />
邮 箱：138905022@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>

		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" saveTitle="area2">
		<div class="label_title"><span><a href='http://demo3.xgwu.net/'>主页</a> > <a href='/news/'>新闻动态</a> > <a href='/news/list_12_1.html'>公司动态</a> > </span>公司动态</div>
			<div class="label labelDis news_detail" id="1" rel="1" titles="文章内容">
	<div class="news_detail_title">互联网金融是一味药但是药三分毒</div>
	<div class="news_detail_info">
		<div style="text-align:center">2014-03-04 09:05　　点击数:
		  <script src="/plus/count.php?view=yes&aid=11&mid=1" type='text/javascript' language="javascript"></script></div>

		<div class="clear"></div>
	</div>
	<div id="mcontent" class="news_detail_cont">
		<p>
	&ldquo;互联网金融&rdquo;这一概念正在业界掀起舆论巨浪。对于这个新事物，目前市场上普遍存在三种腔调。</p>
<p>
	第一种是&ldquo;鄙夷&rdquo;。一些银行人士认为，所谓互联网金融不过是一种&ldquo;营销手段&rdquo;，只是在营销方式和渠道上有所变化，金融并没有&ldquo;脱媒&rdquo;，而是&ldquo;变媒&rdquo;，从柜台走向手机客户端。</p>
<p>
	我们必须回头看看：电子商务只是把货品摆到网上，但它推进了&ldquo;消费者主权&rdquo;时代。电子政务只是把政务流程摆到网上，但它推进了&ldquo;透明政府&rdquo;的建设。谁敢说&ldquo;互联网金融&rdquo;只是简单地将业务进行&ldquo;线上迁移&rdquo;？互联网从来都是向反经验与反教条的方向发展，从线下走向线上之后，总能产生意想不到的化学反应，所以互联网的商业逻辑从过去的&ldquo;生搬硬套&rdquo;已经逐步走向独立性与生态化。当然，这些都是那些颐指气使的既得利益者无法理解的。我们也不必那么激进地认为互联网金融会&ldquo;消灭银行&rdquo;，从电商O2O模式(将线下商务的机会与互联网结合)即可看出，线上线下结合才是健康的。但不排除拒绝被改变的银行&ldquo;作死&rdquo;。</p>
<p>
	第二种是&ldquo;吸血鬼论&rdquo;。一些媒体评论员认为余额宝不仅不是普惠金融，倒恰恰是趴在银行身上的&ldquo;吸血鬼&rdquo;与&ldquo;寄生虫&rdquo;，将扰乱金融秩序，动摇经济基础。</p>
<p>
	假如将余额宝看成是&ldquo;吸血鬼&rdquo;与&ldquo;寄生虫&rdquo;，那么向企业借贷收取高额利息的银行是什么？假如银行将贷款利息对国企和中小企业一视同仁，实体经济将会反射出另一番景象。此外，中小企业发展艰难表面上反映的是融资成本或贷款利息过高，而最根本的需求却是&ldquo;公平的资本&rdquo;，而不是&ldquo;被染色的资本&rdquo;。</p>
<p>
	第三种则是&ldquo;乐观&rdquo;。一些基金公司及相关研究机构认为，互联网金融创新了产品、服务和商业模式，将&ldquo;颠覆银行&rdquo;。</p>

	</div>
	<div class="articleContent_other">
		<div class="next-article">上一篇：<a href='/news/2014/0304/10.html'>马云谈快的嘀嘀之争两个蛮汉打架 大家看热闹</a> <br />

		下一篇：没有了 </div>
	</div>
</div>

		</div>
		<div class="clear"></div>
	</div>
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
                    {% include "foot.html" %}
</div>


		</div>

	</div>
</body>
</html>
