<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://i1.social.s-msft.com/Forums/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" />
<title>中央空调安装，有哪些需要注意的？</title>
<meta name="keywords" content="苏宁,易购,去年,未,达标,架构,调整,剑指,京东," />
<meta name="description" content="苏宁易购去年未达标架构调整剑指京东" />
<link href="/static/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<script language="javascript" type="text/javascript" src="/static/js/dedeajax2.js"></script>
<script language="javascript" type="text/javascript">
<!--
function CheckLogin(){
	  var taget_obj = document.getElementById('_ajax_feedback');
	  myajax = new DedeAjax(taget_obj,false,false,'','','');
	  myajax.SendGet2("/member/ajax_feedback.php");
	  DedeXHTTP = null;
}
function postBadGood(ftype,fid)
{
	var taget_obj = document.getElementById(ftype+fid);
	var saveid = GetCookie('badgoodid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==fid && hasid) continue;
			else {
				if(saveids[i]==fid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==10 && hasid) break;
				if(j==9 && !hasid) break;
			}
		}
		if(hasid) { alert('您刚才已表决过了喔！'); return false;}
		else saveid += ','+fid;
		SetCookie('badgoodid',saveid,1);
	}
	else
	{
		SetCookie('badgoodid',fid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/feedback.php?aid="+fid+"&action="+ftype+"&fid="+fid);
}
function postDigg(ftype,aid)
{
	var taget_obj = document.getElementById('newdigg');
	var saveid = GetCookie('diggid');
	if(saveid != null)
	{
		var saveids = saveid.split(',');
		var hasid = false;
		saveid = '';
		j = 1;
		for(i=saveids.length-1;i>=0;i--)
		{
			if(saveids[i]==aid && hasid) continue;
			else {
				if(saveids[i]==aid && !hasid) hasid = true;
				saveid += (saveid=='' ? saveids[i] : ','+saveids[i]);
				j++;
				if(j==20 && hasid) break;
				if(j==19 && !hasid) break;
			}
		}
		if(hasid) { alert("您已经顶过该帖，请不要重复顶帖 ！"); return; }
		else saveid += ','+aid;
		SetCookie('diggid',saveid,1);
	}
	else
	{
		SetCookie('diggid',aid,1);
	}
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	var url = "/plus/digg_ajax.php?action="+ftype+"&id="+aid;
	myajax.SendGet2(url);
}
function getDigg(aid)
{
	var taget_obj = document.getElementById('newdigg');
	myajax = new DedeAjax(taget_obj,false,false,'','','');
	myajax.SendGet2("/plus/digg_ajax.php?id="+aid);
	DedeXHTTP = null;
}
-->
</script>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/static/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	{% include "nav.html" %}
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">行业新闻</div>
	</div>
	<div class="label_content">

<h1 ><a href='/news/list_12_1.html'>公司动态</a></h1>

<h1 ><a href='/news/list_13_1.html'>行业新闻</a></h1>
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
		地 址：杭州市xxxxxx路xxx<br />
号 电 话：0000-00000000<br />
传 真：0000-00000000<br />
邮 箱：138905022@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>
	
		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" saveTitle="area2">
		<div class="label_title"><span><a href='http://demo3.xgwu.net/'>主页</a> > <a href='/news/'>新闻动态</a> > <a href='/news/list_13_1.html'>行业新闻</a> > </span>行业新闻</div>
			<div class="label labelDis news_detail" id="1" rel="1" titles="文章内容">
	<div class="news_detail_title">中央空调安装 技术创新高引领潮流</div>
	<div class="news_detail_info">
		<div style="text-align:center">2014-03-04 11:24　　点击数:
		  <script src="./plus/count.php?view=yes&aid=16&mid=1" type='text/javascript' language="javascript"></script></div>
		
		<div class="clear"></div>
	</div>
	<div id="mcontent" class="news_detail_cont">
		<p>
	对新老访客的细分应该是在网站分析中最常用的分析方法了。新访客与老访客在访问网站前，对网站的认知程度和访问目的不同，因此这两个不同访客群体在网站内的行为和转化完成度上会有很大差别。</p>
<p>
	例如：一个电子商务网站，很多新访客可能会浏览&ldquo;会员申请页&rdquo;或&ldquo;快递费用页&rdquo;；而老访客就没必要再去查看这类页面，他们可能会更多关注&ldquo;购买记录页&rdquo;和&ldquo;物流信息页&rdquo;等。可以看出新访客对网站主要以探索性需求为主，而老访客大都明确知道来网站想要什么。</p>
<p>
	如何确认你的网站针对这两个不同群体，是否都提供了对应内容和便利功能呢？最好的办法就是清晰的划分出这两个群体，并分别对他们浏览的网页内容及转化行为等分析对比不同之处，并提出各自针对性优化方案。</p>
<p>
	（一）真假 &ldquo;新访客&rdquo;</p>
<p>
	通常网站分析工具通过cookie来识别访问者是否在以前到访过网站：一个访客来到网站后，网站分析工具找不到历史cookie记录，随即判断这个人是第一次来到网站，是个&ldquo;新访客&rdquo;；但是很多时候事实真的如此吗？现在同时拥有台式机、笔记本、平板电脑、智能手机等等等等各种上网设备的不在少数吧，想必下面的场景大家经常经历：</p>

	</div>
	<div class="articleContent_other">
		<div class="next-article">上一篇：<a href='./news/2014/0304/15.html'>网站分析高级细分六脉神剑之第四脉</a> <br />

		下一篇：没有了 </div>
	</div>
</div>

		</div>
		<div class="clear"></div>
	</div>	
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
{% include "foot.html" %}
</div>


		</div>
        
	</div>
</body>
</html>
