<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="http://i1.social.s-msft.com/Forums/GlobalResources/images/Msdn/favicon.ico" type="image/x-icon" />
<title>产品中心  /  产品分类一_蓝色大气企业网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/templets/default/style/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
</head>
<body>
<div class="fwtop">
<div class="fwtop_head">
  <div class="fwtop_logo">
    <div class="top_logo" id="top_logo">
	<img src="/static/images/logo.png" width="400" height="100" alt="网站Logo" title="test"/></div>

  </div>
  <div class="fwtop_info">
    <div class="topSearch clear" id="topSearch">
<script type="text/javascript">
siteSearch()
</script>
<script type="text/javascript">
	$("#siteSearchContent").focus(function(){
		if (this.value == "请输入关键字..."){
		this.value = ""
		}
	});
	$("#siteSearchContent").blur(function(){
		if (this.value == "") {
		this.value = "请输入关键字...";
		}
	});
</script>

</div>

  </div>
  <div class="clear"></div>
 </div>
  <div class="fwtop_mainNav">
    <div class="siteMainNav fwtop_nav fwnavlink" id="siteMainNav" >
	<ul>
			<li><a href='/'><span>主页</span></a></li>

      	<li><a href='/case/list_5_1.html' ><span>案例展示</span></a></li>

      	<li><a href='/about/index.html'  rel='dropmenu2'><span>关于我们</span></a></li>

      	<li><a href='/news/index.html'  rel='dropmenu3'><span>新闻动态</span></a></li>

      	<li><a href='/job/index.html'  rel='dropmenu6'><span>人才招聘</span></a></li>

      	<li><a href='/connection/index.html' ><span>联系我们</span></a></li>

      	<li><a href='/product/index.html'  rel='dropmenu4'><span>产品中心</span></a></li>

	</ul>
<div class="clear"></div>
</div>
  </div>
  <div class="clear"></div>
  <div class="fwtop_banner">
    <script type="text/javascript">
var ary = location.href.split("&");
jQuery("#siteBanner").slide( { mainCell:"#bd ul", effect:"fold",autoPlay:"true",trigger:"mouseover",easing:"swing",delayTime:"1000",mouseOverStop:"true",pnLoop:"true"});
</script>

  </div>
</div>
<div class="dha"></div>
<div class="fwmain">
		<div class="fwmain_nleft edit_putHere" id="edit_putHere_area1" saveTitle="area1">
			<div class="label clear fwtop_nav6" id="597" rel="597" titles="竖形分类菜单">
	<div class="label_head">
		<div class="label_title">产品分类一</div>
	</div>
	<div class="label_content">

<h1 ><a href='/chanpin/list_15_1.html'>产品分类二</a></h1>

<h1 ><a href='/chanpin/list_16_1.html'>产品分类三</a></h1>

<h1 ><a href='/chanpin/list_17_1.html'>产品分类四</a></h1>

<h1 ><a href='/chanpin/'>产品分类一</a></h1>
	</div>
	<div class="label_foot"></div>
</div>
<div class="label clear" id="599" rel="599" titles="自定义内容">
	<div class="label_head">
		<div class="label_title">联系我们</div>
	</div>
	<div class="label_content">
		<div class="about_con clearfix">
		地 址：杭州市xxxxxx路xxx<br />
号 电 话：0000-00000000<br />
传 真：0000-00000000<br />
邮 箱：138905022@qq.com
		</div>
	</div>
	<div class="label_foot"></div>
</div>
	
		</div>
		<div class="fwmain_nright edit_putHere" id="edit_putHere_area2" savetitle="area2">
			<div class="label clear" id="603" rel="603" titles="产品列表">
	<div class="label_head">
	<div class="label_title"><span><a href='http://demo3.xgwu.net/'>主页</a> > <a href='/chanpin/'>产品中心</a> > <a href='/chanpin/'>产品分类一</a> > </span>产品分类一</div>
	</div>
	<div class="label_content">
		<div class="pic_list1 pic_list_roll" id="pic_list603">
			<ul class="clearfix" id="prolist603">
			<li>
					<a title="产品标题名称十" href="/chanpin/2014/0304/26.html"><img src="/uploads/allimg/140304/1-1403040922250-L.jpg"/>
					<p class="title">产品标题名称十</p></a>	</li><li>
					<a title="产品标题名称九" href="/chanpin/2014/0304/25.html"><img src="/uploads/allimg/140304/1-1403040921510-L.jpg"/>
					<p class="title">产品标题名称九</p></a>	</li><li>
					<a title="产品标题名称八" href="/chanpin/2014/0304/24.html"><img src="/uploads/allimg/140304/1-1403040921270-L.jpg"/>
					<p class="title">产品标题名称八</p></a>	</li><li>
					<a title="产品标题名称七" href="/chanpin/2014/0304/23.html"><img src="/uploads/allimg/140304/1-1403040919410-L.jpg"/>
					<p class="title">产品标题名称七</p></a>	</li><li>
					<a title="产品标题名称六" href="/chanpin/2014/0304/22.html"><img src="/uploads/allimg/140304/1-1403040919220-L.jpg"/>
					<p class="title">产品标题名称六</p></a>	</li><li>
					<a title="产品标题名称五" href="/chanpin/2014/0304/21.html"><img src="/uploads/allimg/140304/1-140304091U80-L.jpg"/>
					<p class="title">产品标题名称五</p></a>	</li><li>
					<a title="产品标题名称四" href="/chanpin/2014/0304/20.html"><img src="/uploads/allimg/140304/1-140304091S80-L.jpg"/>
					<p class="title">产品标题名称四</p></a>	</li><li>
					<a title="产品标题名称三" href="/chanpin/2014/0304/19.html"><img src="/uploads/allimg/140304/1-140304091Q30-L.jpg"/>
					<p class="title">产品标题名称三</p></a>	</li><li>
					<a title="产品标题名称二" href="/chanpin/2014/0304/18.html"><img src="/uploads/allimg/140304/1-140304091J90-L.jpg"/>
					<p class="title">产品标题名称二</p></a>	</li><li>
					<a title="产品标题名称一" href="/chanpin/2014/0304/17.html"><img src="/uploads/allimg/140304/1-1403040915490-L.jpg"/>
					<p class="title">产品标题名称一</p></a>	</li>

			<div class="clear"></div>
			</ul>
			<div class="clear"></div>
			<div class="dai"><li><span class="pageinfo">共 <strong>1</strong>页<strong>10</strong>条记录</span></li>
</div>
		</div>
		
	</div>
	<div class="label_foot"></div>
</div>
		</div>
		<div class="clear"></div>
	</div>	
<div class="fwbottom">
		<div class="fwbottom_bottomInfo">
				<div class="siteBottomNav">
<ul>

      	<li><a href='/anli/list_5_1.html' ><span>案例展示</span></a></li>
      	
      	<li><a href='/about/index.html'  rel='dropmenu2'><span>关于我们</span></a></li>

      	<li><a href='/news/index.html'  rel='dropmenu3'><span>新闻动态</span></a></li>

      	<li><a href='/job/index.html'  rel='dropmenu6'><span>人才招聘</span></a></li>

      	<li><a href='/case/index.html' ><span>联系我们</span></a></li>

      	<li><a href='/product/index.html'  rel='dropmenu4'><span>产品中心</span></a></li>
<div class="clear"></div>
</ul>
</div>
		</div>
        
	</div>
</body>
</html>
